* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --olivedrab: #6b8e23;
  --mintcream: #f5fffa;
}

body {
  background-color: var(--mintcream);;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

main {
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

button {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-radius: 5px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 20px;
  background: lightgrey;
}

#displayScreen {
  height: 60px;
  width: 260px;
  max-width: 260px;
  grid-column: 1 / -1;
  font-size: 2em;
  justify-self: end;
  border: 2px solid black;
  border-radius: 7px;
  background-color: white;
  padding: 10px 20px;
}